# code: language=ansible
name: "{{ composition_name }}"
services:
  reverseproxy:
    container_name: traefik
    build:
      context: .
    ports:
      - "80:80"
      - "443:443"
    extra_hosts:
      autio.lab4.cc: 10.32.40.53
    env_file: .environment_vars
    labels:
      # Traefik-ception so that Traefik is provided via Traefik
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.backend=traefik"
    volumes:
      - "{{ composition_root }}/traefik.yaml:/etc/traefik/traefik.yaml"
      - "{{ composition_root }}/HomelabCA:/HomelabCA"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
