# code: language=ansible
name: "{{ composition_name }}"
services:
  SERVICENAME:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    network_mode: host
    cap_add:
      - NET_ADMIN
    env_file: .environment_vars
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard.entrypoints=web"
      - "traefik.http.routers.adguard.rule=Host(`{{ ansible_hostname }}.lab4.cc`)"
      - "traefik.http.routers.adguard.tls=true"
      - "traefik.http.routers.adguard.tls.certresolver=homelabCA"
      - "traefik.http.services.adguard.loadbalancer.server.port=80"
    volumes:
      - "{{ composition_root }}/conf:/opt/adguardhome/conf"
      - "{{ composition_root }}/work:/opt/adguardhome/work"
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
